venv/
.venv
env/
ENV/
env.bak/
venv.bak/
.vscode
debug.*
__pycache__/
*.py[cod]
*$py.class
/playground

structure.txt


pyproject.toml
__init__.py
binary_2pow4.egg-info
src

*logs
*.log
.env

implement_other_fields.txt